In [2]:
import pandas as pd
df = pd.read_csv("emp.csv")

In [3]:
df

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10   66959
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   73247
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10   67458
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10   73506
19  1020         Krishna Rao  2023-10-02      20   70187
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20   64863
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [11]:
sorted_values= df.sort_values(by =['deptno','salary'], ascending=[True,False])

In [12]:
sorted_values

     eno               ename         doj  deptno  salary
12  1013      Shivani Sharma  2022-09-13      10   74363
20  1021      Prakash Pillai  2022-12-11      10   73569
18  1019          Meera Nair  2020-09-17      10   73506
44  1045        Pankaj Joshi  2022-06-10      10   70445
38  1039          Ajit Reddy  2022-04-18      10   69399
32  1033         Suresh Jain  2021-12-01      10   69234
6   1007         Vijay Singh  2022-07-08      10   67458
0   1001        Arjun Sharma  2022-01-15      10   66959
26  1027       Harshit Kumar  2022-08-16      10   66535
7   1008         Ananya Iyer  2021-03-15      20   74625
19  1020         Krishna Rao  2023-10-02      20   70187
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
27  1028       Kanika Thakur  2020-01-10      20   67752
45  1046          Suman Iyer  2023-04-28      20   67751
1   1002         Priya Patel  2023-03-22      20   67387
39  1040     Pratibha Sharma  2021-09-05      20   65072
33  1034          Sonal Shah  2023-08-13      20   64863
13  1014         Harish Nair  2023-04-01      20   61487
28  1029      Arvind Agarwal  2023-02-18      30   70986
2   1003          Ravi Kumar  2021-05-10      30   70421
34  1035       Jayesh Bansal  2020-02-15      30   69811
40  1041     Subodh Tripathi  2020-05-14      30   68215
8   1009        Manish Joshi  2020-12-19      30   67560
46  1047         Sunil Verma  2020-09-14      30   66989
14  1015         Komal Yadav  2021-11-23      30   61894
22  1023          Vikas Soni  2020-11-15      30   60933
3   1004         Sneha Gupta  2020-08-25      40   73247
41  1042        Sunita Gupta  2023-03-09      40   72534
15  1016          Ajay Bhatt  2020-04-25      40   70109
9   1010         Simran Kaur  2023-01-11      40   68902
29  1030         Divya Singh  2021-04-22      40   67845
23  1024          Ritu Mehra  2023-05-20      40   67801
47  1048       Meenal Pandey  2021-07-03      40   66228
35  1036        Shweta Yadav  2021-06-03      40   63559
4   1005          Anil Reddy  2024-02-13      50   78005
16  1017         Pooja Malik  2022-02-28      50   77450
36  1037      Rajendra Joshi  2023-11-19      50   73561
30  1031        Akash Prasad  2020-06-05      50   72594
42  1043        Arvind Kumar  2021-08-22      50   70019
48  1049          Manju Nair  2022-11-17      50   69061
24  1025       Nitin Chauhan  2020-03-30      50   66948
10  1011        Rajesh Mehta  2021-09-01      50   62497
37  1038        Kavita Mehta  2020-07-25      60   71892
11  1012       Deepika Desai  2020-06-10      60   70179
43  1044      Neeraj Agarwal  2020-02-19      60   69312
25  1026        Swati Kapoor  2021-10-05      60   66972
31  1032          Geeta Rani  2022-09-07      60   63916
17  1018        Raghav Joshi  2021-06-14      60   62873
49  1050       Sandeep Yadav  2021-10-12      60   60921
5   1006          Neha Verma  2019-11-30      60   59843

In [15]:
sort_by_index= df.sort_index(ascending = False)

In [17]:
sort_by_index

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10   66959
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   73247
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10   67458
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10   73506
19  1020         Krishna Rao  2023-10-02      20   70187
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20   64863
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [18]:
df

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10   66959
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   73247
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10   67458
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   74363
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10   73506
19  1020         Krishna Rao  2023-10-02      20   70187
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   67845
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20   64863
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   63559
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   72534
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   66228
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [19]:
df.sort_values(by =['deptno','salary'], ascending=[True,False], inplace=True)

In [20]:
df

     eno               ename         doj  deptno  salary
12  1013      Shivani Sharma  2022-09-13      10   74363
20  1021      Prakash Pillai  2022-12-11      10   73569
18  1019          Meera Nair  2020-09-17      10   73506
44  1045        Pankaj Joshi  2022-06-10      10   70445
38  1039          Ajit Reddy  2022-04-18      10   69399
32  1033         Suresh Jain  2021-12-01      10   69234
6   1007         Vijay Singh  2022-07-08      10   67458
0   1001        Arjun Sharma  2022-01-15      10   66959
26  1027       Harshit Kumar  2022-08-16      10   66535
7   1008         Ananya Iyer  2021-03-15      20   74625
19  1020         Krishna Rao  2023-10-02      20   70187
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
27  1028       Kanika Thakur  2020-01-10      20   67752
45  1046          Suman Iyer  2023-04-28      20   67751
1   1002         Priya Patel  2023-03-22      20   67387
39  1040     Pratibha Sharma  2021-09-05      20   65072
33  1034          Sonal Shah  2023-08-13      20   64863
13  1014         Harish Nair  2023-04-01      20   61487
28  1029      Arvind Agarwal  2023-02-18      30   70986
2   1003          Ravi Kumar  2021-05-10      30   70421
34  1035       Jayesh Bansal  2020-02-15      30   69811
40  1041     Subodh Tripathi  2020-05-14      30   68215
8   1009        Manish Joshi  2020-12-19      30   67560
46  1047         Sunil Verma  2020-09-14      30   66989
14  1015         Komal Yadav  2021-11-23      30   61894
22  1023          Vikas Soni  2020-11-15      30   60933
3   1004         Sneha Gupta  2020-08-25      40   73247
41  1042        Sunita Gupta  2023-03-09      40   72534
15  1016          Ajay Bhatt  2020-04-25      40   70109
9   1010         Simran Kaur  2023-01-11      40   68902
29  1030         Divya Singh  2021-04-22      40   67845
23  1024          Ritu Mehra  2023-05-20      40   67801
47  1048       Meenal Pandey  2021-07-03      40   66228
35  1036        Shweta Yadav  2021-06-03      40   63559
4   1005          Anil Reddy  2024-02-13      50   78005
16  1017         Pooja Malik  2022-02-28      50   77450
36  1037      Rajendra Joshi  2023-11-19      50   73561
30  1031        Akash Prasad  2020-06-05      50   72594
42  1043        Arvind Kumar  2021-08-22      50   70019
48  1049          Manju Nair  2022-11-17      50   69061
24  1025       Nitin Chauhan  2020-03-30      50   66948
10  1011        Rajesh Mehta  2021-09-01      50   62497
37  1038        Kavita Mehta  2020-07-25      60   71892
11  1012       Deepika Desai  2020-06-10      60   70179
43  1044      Neeraj Agarwal  2020-02-19      60   69312
25  1026        Swati Kapoor  2021-10-05      60   66972
31  1032          Geeta Rani  2022-09-07      60   63916
17  1018        Raghav Joshi  2021-06-14      60   62873
49  1050       Sandeep Yadav  2021-10-12      60   60921
5   1006          Neha Verma  2019-11-30      60   59843

In [22]:
df = pd.read_csv("emp.csv")
grouped_data = df.groupby('deptno')['eno'].count().reset_index()
grouped_data.rename(columns ={'eno':'count_of_emp'}, inplace=True)
grouped_data

   deptno  count_of_emp
0      10             9
1      20             9
2      30             8
3      40             8
4      50             8
5      60             8

In [48]:
df = pd.read_csv("emp.csv")
grouped_agg = df.groupby('deptno')['salary'].agg(['count','min','max','sum','mean']).reset_index()
grouped_agg

   deptno  count    min    max     sum          mean
0      10      9  66535  73569  617018  68557.555556
1      20      9  61487  74625  608870  67652.222222
2      30      8  60933  70986  536809  67101.125000
3      40      8  67801  73247  560495  70061.875000
4      50      8  62497  78005  570135  71266.875000
5      60      8  59843  71892  525908  65738.500000

In [49]:
grouped_agg.rename(columns ={'count':'count_of_salary','min':'min_of_salary','max':'max_of_salary','sum':'sum_of_salary','mean':'avg_of_salary'}, inplace=True)
grouped_agg

,deptno,count_of_salary,min_of_salary,max_of_salary,sum_of_salary,avg_of_salary
0,10,9,66535,73569,617018,68557.555556
1,20,9,61487,74625,608870,67652.222222
2,30,8,60933,70986,536809,67101.125000
3,40,8,67801,73247,560495,70061.875000
4,50,8,62497,78005,570135,71266.875000
5,60,8,59843,71892,525908,65738.500000

In [32]:
df = pd.read_csv("emp.csv")

col_rename = {'count':'count_of_salary','min':'min_of_salary','max':'max_of_salary','sum':'sum_of_salary'}
grouped_aggg.rename(columns =col_rename, inplace=True)
grouped_aggg

   deptno  count_of_salary  min_of_salary  max_of_salary  sum_of_salary
0      10                9          66535          74363         631468
1      20                9          61487          74625         608870
2      30                8          60933          70986         536809
3      40                8          63559          73247         550225
4      50                8          62497          78005         570135
5      60                8          59843          71892         525908

In [34]:
df = pd.read_csv("emp.csv")
col_rename = {'count':'count_of_salary','min':'min_of_salary','max':'max_of_salary','sum':'sum_of_salary'}
df.groupby('deptno')['salary'].agg(['count','min','max','sum']).reset_index().rename(columns =col_rename, inplace=True)

In [43]:
df = pd.read_csv("emp.csv")
df.sort_values(by ='deptno')
grp_data= df.groupby('deptno')['salary'].agg(['count','min','max','sum'])
col_rename = {'count':'count_of_salary','min':'min_of_salary','max':'max_of_salary','sum':'sum_of_salary'}
grp_data = grp_data.rename(columns=col_rename)
grp_data

        count_of_salary  min_of_salary  max_of_salary  sum_of_salary
deptno
10                    9          66535          73569         617018
20                    9          61487          74625         608870
30                    8          60933          70986         536809
40                    8          67801          73247         560495
50                    8          62497          78005         570135
60                    8          59843          71892         525908

In [46]:
df = pd.read_csv("emp.csv")
where_cls = df['deptno']==10
dept_10_rec = df[where_cls]
dept_10_rec

     eno           ename         doj  deptno  salary
0   1001    Arjun Sharma  2022-01-15      10   66959
6   1007     Vijay Singh  2022-07-08      10   66959
12  1013  Shivani Sharma  2022-09-13      10   66959
18  1019      Meera Nair  2020-09-17      10   66959
20  1021  Prakash Pillai  2022-12-11      10   73569
26  1027   Harshit Kumar  2022-08-16      10   66535
32  1033     Suresh Jain  2021-12-01      10   69234
38  1039      Ajit Reddy  2022-04-18      10   69399
44  1045    Pankaj Joshi  2022-06-10      10   70445