In [4]:
import pandas as pd
df = pd.read_csv('./emp.csv')

In [6]:
df2 = pd.read_csv('./dept.csv')

In [7]:
df2

   deptno    deptname
0      10          HR
1      20     Finance
2      30          IT
3      40   Marketing
4      50       Sales
5      60  Operations

In [9]:
df

     eno               ename         doj  deptno  salary
0   1001        Arjun Sharma  2022-01-15      10   66959
1   1002         Priya Patel  2023-03-22      20   67387
2   1003          Ravi Kumar  2021-05-10      30   70421
3   1004         Sneha Gupta  2020-08-25      40   73247
4   1005          Anil Reddy  2024-02-13      50   78005
5   1006          Neha Verma  2019-11-30      60   59843
6   1007         Vijay Singh  2022-07-08      10   66959
7   1008         Ananya Iyer  2021-03-15      20   74625
8   1009        Manish Joshi  2020-12-19      30   67560
9   1010         Simran Kaur  2023-01-11      40   68902
10  1011        Rajesh Mehta  2021-09-01      50   62497
11  1012       Deepika Desai  2020-06-10      60   70179
12  1013      Shivani Sharma  2022-09-13      10   66959
13  1014         Harish Nair  2023-04-01      20   61487
14  1015         Komal Yadav  2021-11-23      30   61894
15  1016          Ajay Bhatt  2020-04-25      40   70109
16  1017         Pooja Malik  2022-02-28      50   77450
17  1018        Raghav Joshi  2021-06-14      60   62873
18  1019          Meera Nair  2020-09-17      10   66959
19  1020         Krishna Rao  2023-10-02      20   70187
20  1021      Prakash Pillai  2022-12-11      10   73569
21  1022  Aishwarya Deshmukh  2021-07-25      20   69746
22  1023          Vikas Soni  2020-11-15      30   60933
23  1024          Ritu Mehra  2023-05-20      40   67801
24  1025       Nitin Chauhan  2020-03-30      50   66948
25  1026        Swati Kapoor  2021-10-05      60   66972
26  1027       Harshit Kumar  2022-08-16      10   66535
27  1028       Kanika Thakur  2020-01-10      20   67752
28  1029      Arvind Agarwal  2023-02-18      30   70986
29  1030         Divya Singh  2021-04-22      40   70109
30  1031        Akash Prasad  2020-06-05      50   72594
31  1032          Geeta Rani  2022-09-07      60   63916
32  1033         Suresh Jain  2021-12-01      10   69234
33  1034          Sonal Shah  2023-08-13      20   64863
34  1035       Jayesh Bansal  2020-02-15      30   69811
35  1036        Shweta Yadav  2021-06-03      40   70109
36  1037      Rajendra Joshi  2023-11-19      50   73561
37  1038        Kavita Mehta  2020-07-25      60   71892
38  1039          Ajit Reddy  2022-04-18      10   69399
39  1040     Pratibha Sharma  2021-09-05      20   65072
40  1041     Subodh Tripathi  2020-05-14      30   68215
41  1042        Sunita Gupta  2023-03-09      40   70109
42  1043        Arvind Kumar  2021-08-22      50   70019
43  1044      Neeraj Agarwal  2020-02-19      60   69312
44  1045        Pankaj Joshi  2022-06-10      10   70445
45  1046          Suman Iyer  2023-04-28      20   67751
46  1047         Sunil Verma  2020-09-14      30   66989
47  1048       Meenal Pandey  2021-07-03      40   70109
48  1049          Manju Nair  2022-11-17      50   69061
49  1050       Sandeep Yadav  2021-10-12      60   60921

In [10]:
df_merge = pd.merge(df, df2, on='deptno', how='inner')

In [14]:
df_merge[['ename', 'salary']]

                 ename  salary
0         Arjun Sharma   66959
1          Priya Patel   67387
2           Ravi Kumar   70421
3          Sneha Gupta   73247
4           Anil Reddy   78005
5           Neha Verma   59843
6          Vijay Singh   66959
7          Ananya Iyer   74625
8         Manish Joshi   67560
9          Simran Kaur   68902
10        Rajesh Mehta   62497
11       Deepika Desai   70179
12      Shivani Sharma   66959
13         Harish Nair   61487
14         Komal Yadav   61894
15          Ajay Bhatt   70109
16         Pooja Malik   77450
17        Raghav Joshi   62873
18          Meera Nair   66959
19         Krishna Rao   70187
20      Prakash Pillai   73569
21  Aishwarya Deshmukh   69746
22          Vikas Soni   60933
23          Ritu Mehra   67801
24       Nitin Chauhan   66948
25        Swati Kapoor   66972
26       Harshit Kumar   66535
27       Kanika Thakur   67752
28      Arvind Agarwal   70986
29         Divya Singh   70109
30        Akash Prasad   72594
31          Geeta Rani   63916
32         Suresh Jain   69234
33          Sonal Shah   64863
34       Jayesh Bansal   69811
35        Shweta Yadav   70109
36      Rajendra Joshi   73561
37        Kavita Mehta   71892
38          Ajit Reddy   69399
39     Pratibha Sharma   65072
40     Subodh Tripathi   68215
41        Sunita Gupta   70109
42        Arvind Kumar   70019
43      Neeraj Agarwal   69312
44        Pankaj Joshi   70445
45          Suman Iyer   67751
46         Sunil Verma   66989
47       Meenal Pandey   70109
48          Manju Nair   69061
49       Sandeep Yadav   60921